{% extends "users/base.html" %}

{% block head_content%}
<title>Login</title>
{% endblock %}

{% block container %}
    {% if form.errors%}
    <p class="alert alert-danger">
        Invalid credentials!
    </p>
    {% endif %}
<form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    <input type="text" placeholder="Username" name="username" id="">
    <input type="password" placeholder="Password" name="password" id="">
    <button type="submit">Sign in</button>
</form>
<p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign up here.</a></p>

{% endblock %}